{% extends 'base/base.html' %}
{% block title %} Регистрация {% endblock %}

{% block body %}
<div class="card p-4 shadow-sm col-md-6">
    <div class="card-header bg-white mb-4 p-0 ">
        <h2 class="text-center m-2">Регистрация</h2>
    </div>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-person"></i></span>
            {{ form.last_name }}{{ form.first_name }}{{ form.surname }}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
            {{ form.email }}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-bounding-box"></i></span>
            {{ form.status }}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-key"></i></span>
            {{ form.password1 }}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-key-fill"></i></span>
            {{ form.password2 }}
        </div>
        {{ form.errors }}
        <div>
            <a href="#">Восстановить пароль</a>
        </div>
        <button class="btn btn-primary col-12 mt-2">Создать</button>
        <div class="card-footer bg-white mt-4 mb-0 text-center">
            Уже есть аккаунт? <a href="#">Войдите!</a>
        </div>
    </form>
</div>
{% endblock %}